<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dependent</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="https://www.thefamouspeople.com/profiles/images/porfirio-daz-2.jpg" alt="Admin" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        <h4 th:text="${dep.name}">jorge</h4>
                                        <!-- <p class="text-secondary mb-1">Tengo  años</p> -->
                                        <p class="text-muted font-size-sm">Soy de <span th:text="${dep.address}"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Me llamo</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <span th:text="${dep.name}"></span>
                                        <span th:text="${dep.lastName}"></span>
                                        <span th:text="${dep.secondLastName}"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Mi cuidador es</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <span th:text="${user.name}"></span>
                                        <span th:text="${user.lastName}"></span>
                                        <span th:text="${user.secondLastName}"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Contacto</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <span th:text="${user.email}"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">
                                            <span class="badge bg-warning">CUIDADO!</span>
                                        </h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        Puedo tener cuidados especiales:<br/>
                                        <b th:text="${dep.specialCares}"></b>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>